*/set weechat.color.separator 239
*/set weechat.color.chat_time 243
*/set weechat.color.chat_time_delimiters 237
*/set weechat.color.chat_prefix_error 167
*/set weechat.color.chat_prefix_network 142
*/set weechat.color.chat_prefix_action 175
*/set weechat.color.chat_prefix_join 108
*/set weechat.color.chat_prefix_quit 239
*/set weechat.color.chat_prefix_more 109
*/set weechat.color.chat_prefix_suffix 237
*/set weechat.color.chat_buffer 108
*/set weechat.color.chat_server 208
*/set weechat.color.chat_channel 109
*/set weechat.color.chat_nick_offline 239
*/set weechat.color.chat_nick_offline_highlight 223
*/set weechat.color.chat_nick_colors "167,208,214,142,108,109,175,132"
*/set weechat.color.chat_highlight 167
*/set weechat.color.chat_highlight_bg 237
*/set weechat.color.chat_read_marker 239
*/set weechat.color.chat_read_marker_bg 235

*/set weechat.bar.status.color_bg 235
*/set weechat.bar.status.color_fg 223
*/set weechat.bar.status.color_delim 239
*/set weechat.bar.title.color_bg 235
*/set weechat.bar.title.color_fg 109
*/set weechat.bar.input.color_bg 235
*/set weechat.bar.input.color_fg 223
*/set weechat.bar.input.color_delim 239
*/set weechat.bar.nicklist.color_bg 235
*/set weechat.bar.nicklist.color_fg 246
*/set weechat.bar.nicklist.color_delim 239

*/set weechat.color.status_number 208
*/set weechat.color.status_name 109
*/set weechat.color.status_filter 142
*/set weechat.color.status_data_msg 175
*/set weechat.color.status_data_highlight 167
*/set weechat.color.status_data_private 108
*/set weechat.color.status_more 214
*/set weechat.color.status_time 243

*/set buflist.format.buffer "${format_number}${indent}${format_nick_prefix}${color_hotlist}${name}"
*/set buflist.format.buffer_current "${color:223,94}${format_buffer}${color:reset}"
*/set buflist.format.hotlist_highlight "${color:167}"
*/set buflist.format.hotlist_message "${color:214}"
*/set buflist.format.hotlist_private "${color:108}"
*/set buflist.format.hotlist_low "${color:239}"
*/set buflist.format.number "${color:239}${number}${if:${number_displayed}?.: }"