*/set weechat.color.separator 237
*/set weechat.color.chat_time 244
*/set weechat.color.chat_time_delimiters 236
*/set weechat.color.chat_prefix_error 203
*/set weechat.color.chat_prefix_network 150
*/set weechat.color.chat_prefix_action 175
*/set weechat.color.chat_prefix_join 73
*/set weechat.color.chat_prefix_quit 237
*/set weechat.color.chat_prefix_more 110
*/set weechat.color.chat_prefix_suffix 236
*/set weechat.color.chat_buffer 73
*/set weechat.color.chat_server 221
*/set weechat.color.chat_channel 110
*/set weechat.color.chat_nick_offline 237
*/set weechat.color.chat_nick_offline_highlight 252
*/set weechat.color.chat_nick_colors "203,221,222,150,73,110,175,181"
*/set weechat.color.chat_highlight 203
*/set weechat.color.chat_highlight_bg 236
*/set weechat.color.chat_read_marker 237
*/set weechat.color.chat_read_marker_bg 234

*/set weechat.bar.status.color_bg 234
*/set weechat.bar.status.color_fg 252
*/set weechat.bar.status.color_delim 237
*/set weechat.bar.title.color_bg 234
*/set weechat.bar.title.color_fg 110
*/set weechat.bar.input.color_bg 234
*/set weechat.bar.input.color_fg 252
*/set weechat.bar.input.color_delim 237
*/set weechat.bar.nicklist.color_bg 234
*/set weechat.bar.nicklist.color_fg 245
*/set weechat.bar.nicklist.color_delim 237

*/set weechat.color.status_number 221
*/set weechat.color.status_name 110
*/set weechat.color.status_filter 150
*/set weechat.color.status_data_msg 175
*/set weechat.color.status_data_highlight 203
*/set weechat.color.status_data_private 73
*/set weechat.color.status_more 222
*/set weechat.color.status_time 244

*/set buflist.format.buffer "${format_number}${indent}${format_nick_prefix}${color_hotlist}${name}"
*/set buflist.format.buffer_current "${color:252,95}${format_buffer}${color:reset}"
*/set buflist.format.hotlist_highlight "${color:203}"
*/set buflist.format.hotlist_message "${color:222}"
*/set buflist.format.hotlist_private "${color:73}"
*/set buflist.format.hotlist_low "${color:237}"
*/set buflist.format.number "${color:237}${number}${if:${number_displayed}?.: }"